<div class="menu">
    <h1 class="title">Listagem de tarefas</h1>
    <md-content>
        <md-list flex>
            <md-subheader class="md-no-sticky">Tarefas ativas</md-subheader>
            <md-list-item class="noright" ng-repeat="task in tasks" ng-click="openTask(task, $event)">
                <div class="md-list-item-text noright">
                    <h4>Nome: {{ task.name }}</h3>
                    <h5>Prioridade: {{ task.priority }}</h4>
                    <md-checkbox class="md-secondary" ng-model="task.selected"></md-checkbox>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
    <p>Para concluir uma tarefa, selecione o checkbox posicionado à direita.</p>
</div>
