<div class="menu">
    <h1 class="title">Listagem de tarefas</h1>
    <md-content>
        <md-input-container class="form-textarea" md-theme="altTheme">
            <label>Buscar por tarefa</label>
            <input ng-model="search">
        </md-input-container>
        <md-list flex>
            <md-subheader class="md-no-sticky" ng-hide="checkTasksLength()">Tarefas ativas</md-subheader>
            <md-list-item class="noright" ng-repeat="task in tasks | filter:search" ng-click="openTask(task, $event)">
                <div class="md-list-item-text noright">
                    <h2>{{ task.name }}</h2>
                    <h5>Prioridade: {{ task.priority }}</h5>
                    <h5>Nível: {{ task.difficulty }}</h5>
                    <md-checkbox class="md-secondary" ng-model="task.selected" ng-change="finishTask(task._id)"></md-checkbox>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
    <p ng-hide="checkTasksLength()">Para concluir uma tarefa, selecione o checkbox posicionado à direita.</p>
    <p ng-show="checkTasksLength()">Nenhuma tarefa ativa no momento.</p>
</div>
